.headerWrapper {
    height: 60px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    @media (min-width: 768px) {
    }

    @media (min-width: 1024px) {
        & {
            margin-left: 6%;
            margin-right: 6%;
        }
    }

    @media (min-width: 2056px) {
        & {
            margin-left: 0%;
            margin-right: 0%;
        }
    }
}

.logoImg {
    width: 104px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    fill: #000000;
}

.buttonContainer {
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
